<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Welcome to DL Remote Support! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">What is it?</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ImgDiv">
    <a href="">
      <img
        id="mainLogo"
        src="https://pds.saramin.co.kr/company/logo/202012/05/qkusm8_21f9-h770fp_logo.png"
      />
    </a>
  </div>
  <div class="alignedDiv">
    <button ion-button class="hover-btn" (click)="goToLoginPage()">
      Log In
    </button>
  </div>
  <div class="alignedDiv">
    <button ion-button class="hover-btn" (click)="goToRegisterPage()">
      Sign Up
    </button>
  </div>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div> -->
</ion-content>
